*{
    padding: 0px;
    margin: 0px;
}
.first{
/* background-color: red; */
height: 100px;
width: 100%;
display: flex;
justify-content: space-between;



}
.photo{
    height: 50px;
    width: 70px 40px ;
    padding: 30px;
}
ul{
    display: flex;
  padding: 20px;
    list-style-type: none;
}
body{
    background:url("new2.jpg");
    background-position:center
}
li{
    padding: 30px;
    font-size: larger;
    text-align: center;
    text-transform: capitalize;
    
}
a{
    color: white;
    font-weight: 700;
    text-decoration: none;
}
.inner{
    padding: 130px;
}
h1{
    font-size: 60px;
    /* padding-left: 50px; */
    color: yellow;
}
button{
    color: rgb(47, 23, 6);
   
    font-size: 20px;
}